  <!-- footer content -->
  <footer>
    <div class="pull-right">
      Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js" type="text/javascript"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js" type="text/javascript"></script>
<!-- Chart.js -->
<script src="/vendors/Chart.js/dist/Chart.min.js" type="text/javascript"></script>
<!-- jQuery Sparklines -->
<script src="/vendors/jquery-sparkline/dist/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- Flot -->
<script src="/vendors/Flot/jquery.flot.js" type="text/javascript"></script>
<script src="/vendors/Flot/jquery.flot.pie.js" type="text/javascript"></script>
<script src="/vendors/Flot/jquery.flot.time.js" type="text/javascript"></script>
<script src="/vendors/Flot/jquery.flot.stack.js" type="text/javascript"></script>
<script src="/vendors/Flot/jquery.flot.resize.js" type="text/javascript"></script>
<!-- Flot plugins -->
<script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js" type="text/javascript"></script>
<script src="/vendors/flot-spline/js/jquery.flot.spline.min.js" type="text/javascript"></script>
<script src="/vendors/flot.curvedlines/curvedLines.js" type="text/javascript"></script>
<!-- DateJS -->
<script src="/vendors/DateJS/build/date.js" type="text/javascript"></script>
<!-- bootstrap-daterangepicker -->
<script src="/vendors/moment/min/moment.min.js" type="text/javascript"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>

<!-- Custom Theme Scripts -->
<script src="/build/js/custom.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>